@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
    
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Work Sans", Arial;

}

body{
    background:#fff;
    
    
}
header{
    position: fixed;
    border-radius: 20px;
    top:-15px;
    left:25%;
    width: 45%;
    padding: 20px 100px;
    background:#000000 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index:99;
    height: fit-content;
}
.logo{
    font-size: 2em;
    font-weight: bolder;
    user-select: none;
    font-family: "Satisfy";
    color:#ffffff;
}
.navigation a{
   position: relative;
   font-size: 1.1em;
   color:#e8dada;
   text-decoration: none;
   font-weight: 500;
   margin-left: 40px;
}
.navigation .btnLogin-popup{
    width:130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline:none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    margin-left: 40px;
    color:#fff;
    font-weight: 500;
    margin-left: 40px;
    transition: transform .5s ease;
}
.navigation .btnLogin-popup:hover{
    background: #fff;
    color:#162938;
    transform: translateY(-8px);
}
.wrapper{
    position: relative;
    transform:translateY(50%);
    left:38%;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(40px);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    opacity: 0%;
    transition: opacity .5s ease ,height .5s ease;
   
}
.wrapper.active-popup{
    opacity: 100%;
    
}
.wrapper.active{
    height: 520px;
}
.wrapper .from-box{
    width: 100%;
    padding: 40px;

}
.wrapper .from-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .from-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .from-box.login{
    transition:none;
    transform: translateX(-400px);
}
.wrapper .from-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #e8dada;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    

}
.from-box h2{
    font-size: 2em;
    color:#162938;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom:2px solid #000;
    margin: 30px 0;
}
.input-box label{
    position:absolute;
    top: 50%;
    left: 5px;
    transform: translateY(30%);
    font-size: 1em;
    color:#162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    
    top:-7px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color:#162938;
    font-weight: 600;
    padding: 0 35px 0 5px;

}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color:#162938;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    color:#162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;

}
.remember-forgot a{
    color:#162938;
    text-decoration: none;

}
.remember-forgot a:hover{
    text-decoration: underline;

}
.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border:none;
    outline:none;
    cursor: pointer;
    font-size: 1em;
    color:#fff;
}
.login-register{
    font-size: .9em;
    color:#162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a {
    color:#162938;
    text-decoration: none;
    font-weight: 600;

}
.login-register p a:hover{
    text-decoration: underline;

}