*{
    list-style:none;
}
body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 102, 102);
}
section{
    width:480em;
    height: 1020px;
    border:1px solid #ccc;
    position: relative;
}
#memebership-button{
    position: absolute;
    border:none;
    width:200px;
    height:125px;
    right:10px;
    background-color:transparent;

}
#memebership-button:hover{
    transform:scale(110%);
}

#title{
    width: 2000px;
    height: 100px; 
    position:absolute;
    justify-content: center;
    left: 50%;
    font-family: "Gill sans MT Condensed";
    font-style:italic; 
    font-weight: bold;
    top: 20px;
    
}

/* #menu-button{
    position:absolute;
    border-radius: 50%;
     border: 1px solid black; 
    width: 100px;
    height:100px;
    top: 10px;
    left:10px;
} */
.menu-dash{
    position: relative;
    top: -20px;
    left: -20px;
    
}
#menu-button:hover{
    transform: scale(110%);
}
/* .menu-dash:hover{
    transform: scale(105%);
} */
.dash1{
    position:absolute;
    /* border: 1px solid black; */
    width: 50px;
    background-color: black;
    height: 3px;
    top: 0px;
}
.dash2{
    position:absolute;
    /* border: 1px solid black; */
    width: 25px;
    background-color: black;
    height: 3px;
    top: 15px;
    
}
.dash3{
    position:absolute;
    /* border: 1px solid black; */
    width: 20px;
    background-color: black;
    height: 3px;
    top:30px;


}
#card-mm{
    position: absolute;
    width:100px;
    height:80px;
    right:0;
    top:5px;
    padding:12px;
    margin: 12px;
     
} 
#card-mm:hover{
    transform:scale(105%);
}
#invisible-button{
    /* border: 1px solid black; */
    border-radius: 50%;
    width:100px;
    height:100px;
    position: relative;
    background-color: transparent;
    left: 10px;
    border: none;

}
#invisible-button:hover{
    transform: scale(110%);
    
}
#renovar-suscripcion{
    position: absolute;
    left:200px;
   transform: scale(50%);

}