@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    list-style:none;
    /* margin:0;
    padding:0; */
    box-sizing: border-box;
    text-decoration: none;
}
body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(216, 239, 221, 0.24);
}
section{
    width:480px;
    height: 1020px;
    border:1px solid #ccc;
    position: relative;
}
#memebership-button{
    position: absolute;
    border:none;
    width:200px;
    height:125px;
    right:10px;
    background-color:transparent;

}
#memebership-button:hover{
    transform:scale(110%);
}

#title{
    font-size: 2em;
    position:absolute;
    justify-content: center;
    left: 38%;
    font-family: "Gill sans MT Condensed";
    font-style:italic; 
    font-weight: bold;
    top: 10px;
    user-select: none;
    
}
#dashes{
    position: absolute;
    transform: scale(35%);
    left:-30px;
    top:-17px;
}
#dashes:hover{
    transform:scale(40%) translateY(-4px);
    transition: transform .5s ease ;
}
nav{
    position: absolute;
    max-width: 300px;
    margin:auto;
    background-color:transparent;
    font-size: 20px;
    margin-top: 20px;
}
nav:hover {
    transform: scale(105%);
}

.menu_desplegable{
    float: right;
    list-style: none;
    display: flex;
    justify-content: space-around ;
}
.menu_desplegable > li > a{
    display: block;
    padding:15px 20px;
    color:black;
    text-decoration: none;
}
.menu_vertical{
    position:absolute;
    display:none;
    list-style: none;
    width:200px;
    background-color: rgb(0, 0, 0);
}
.menu_desplegable li:hover .menu_vertical{
    display: block;
    
}
.menu_vertical{
    background-color: rgb(256, 256, 256);
    width:20vh;
    height: 100vh;
    

}
.menu_vertical li a{
    display: block;
    color:black;
    padding:0px 15px 15px 20px;
    text-decoration: none;
    font-family: "Tilt Neon";
}


/* .menu-dash{
    position: relative;
    display: none;
    list-style: none;
    width: 200px;
    top: -22px;
    left: -30px;
    
} */
#menu-button:hover{
    transform: scale(110%);
}
/* .menu-dash:hover{
    transform: scale(105%);
} */
.dash1{
    position:absolute;
    /* border: 1px solid black; */
    width: 50px;
    background-color: black;
    height: 3px;
    top: 0px;
}
.dash2{
    position:absolute;
    /* border: 1px solid black; */
    width: 25px;
    background-color: black;
    height: 3px;
    top: 15px;
    
}
.dash3{
    position:absolute;
    /* border: 1px solid black; */
    width: 20px;
    background-color: black;
    height: 3px;
    top:30px;


}
#card-mm{
    position: absolute;
    width:100px;
    height:80px;
    right:0;
    top:5px;
    padding:12px;
    margin: 12px;
     
} 
#card-mm:hover{
    transform:scale(105%) translateY(-4px);
    transition: transform .5s ease ;
}
#invisible-button{
    border: none;
    border-radius: 10%;
    width:80px;
    height:70px;
    position: relative;
    background-color: transparent;
    left: 10px;
    top: 10px;
     
   

}
#invisible-button:hover{
    transform: scale(105%);
    background-color: rgba(0, 0, 0, 0.7);
   
    
    
}
#renovar-suscripcion{
    position: absolute;
    top:160px;
    left:110px;
    transform: scale(40%);

}
#username{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    top:76px;
    left: 50px;
    font-size: 1.3em;
   
    
}
#days-remaining{
    transform: scale(39%);
    position: absolute;
    right:110px;
    top:156px;
    /* border: 1px solid black; */
    
}
#paragraph{
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 2.3em;
    top:-15px;
    font-family:"Ubuntu";
    font-weight:bold;
    left : 20px;
    color:black;
    text-align:center;
}
 #days-remaining:hover{
    transition: transform .2s  ease-in;
    transform:scale(40%)  translateY(-10px);
    cursor:pointer;
    
   

} 
#renovar-suscripcion:hover{
    accent-color: red;
    transition: transform .2s ease;
    transform: scale(42%) translateY(-10px);
    cursor: pointer;
}
#renovar-suscripcion:visited{
    color:white;

}
#renovar-suscripcion:link{
    color:white;
}
#renovar-suscripcion:active{
    color:white;
}
#coach-button, #work-out-icon, #group-button{
    
    transform:scale(45%) ;
    position: absolute;

}
#coach-button{
    top:230px;
    left: 300px;
}
#work-out-icon{
    top: 230px;
    left: 0px;
}
#group-button{
    top:230px;
    left:130px;
}
#coach-button:hover ,#group-button:hover, #work-out-icon:hover{
    transform:scale(50%) translateY(-10px);
    transition: transform .4s ease;

}
#advice-message{
    position:absolute;
    top :120px;
    left: 50px;
    font-family:"Montserrat" ;
    font-weight: bolder;
}
#Recomendado{
    position: absolute;
    top: 330px;
    left: 45px;
    font-family:"Tilt Neon";
    font-weight: lighter;
    font-size: 1.3em;
}
.container{
    position: absolute;
    top: 210px;
    left: 40px;
    /* border:5px solid #e1bee7; */
    background-color: transparent;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px ;
    height: 50px;
    justify-content: center;
    justify-items: center;
    align-content:center;
    align-items: center;
    grid-auto-rows: 100px;
    grid-auto-flow:column;
    grid-gap: 10px;

}
.until{
    /* border: 1px solid black; */
    margin:50px;
    width: 20px;
    height: 15px;
    background:#009578;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-family: "Tilt Neon";
    font-size: 0.6em;
    place-items: end stretch;
    text-align: center;
    user-select: none ;  
}

#counterd{
    position: absolute;
    top:30px;
    
      
}

    

.until__event{
    position: absolute;
    font-family: "Tilt Neon";
    font-weight: bold;
    display: flex;
    top:15px;
    right:-67px;
    background-color: rgba(74, 73, 73, 0.7);
    color:rgb(0, 0, 0);
    border-radius: 5px;
    

}
